body{
	color: #FFF;
	width: 100%;
	height: 100%;
    -webkit-font-smoothing: antialiased;
}

#defaultCanvas{
 	position:absolute;
	top:50%;
	left:50%;
    z-index: -99;
}

/*
#bg{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-666px;
	margin-left:-1000px;
	background-image: url(../img/b3-1.jpg);
	z-index: -101;
	width: 2000px;
	height: 1333px;
}
*/
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  left: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


#wrapper-elementframe{
	opacity: 0;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
    font-family:Inconsolata;
    font-size: 16px
}

button {
    border: 0;
    font-size: 16px;
    background-color: transparent;
}

a, button {
    color: inherit;
    text-decoration: none;
}


.link--orange {
	transition: color .1s linear
}

.link--orange:hover {
	color: #e47839
}

.spacebar__posttext,.spacebar__pretext {
	position: relative;
	font-size: 20px;
	line-height: 3pc;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

.spacebar__button {
	position: relative;
	width: 140px;
	height: 3pc;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 2px;
	/*user-select: none
	user-select: none*/
}

.spacebar__button__inner {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: scale(0) translate(-50%,0);
	-ms-transform: scale(0) translate(-50%,0);
	transform: scale(0) translate(-50%,0);
	border: 2px solid #fff;
	width: 3pc;
	height: 3pc;
	z-index: 2;
	border-radius: 24px;
	vertical-align: top;
    font-family: Camphorbold;
}

.spacebar__button__inner span {
	position: relative;
	display: block;
	font-size: 17px;
	line-height: 42px;
	margin: auto
}

.spacebar__button svg {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 140px;
	height: 56px;
	z-index: 1
}

.spacebar__button svg path {
	fill: #FFF
}

.spacebar {
	position:absolute;
	top:25%;
	left:50%;
	margin-top:420px;
	margin-left:-215px;
    
}



.introduction{
	position:absolute;
	top:25%;
	left:50%;
	margin-top:320px;
	margin-left:-180px;
    font-style:normal;   
}

.introduction p {
	font-family:camphor;
    font-weight: 200;
}

.wrapper_bl{
	left: 0px;
	bottom: 0px;
	position: absolute;
}


.wrapper_br{
	position:absolute;
	right: 0px;
	bottom: 0px;
}

.shareul{
	display: inline-block;
	position: relative;
	bottom: -4px;
}

.shareul a{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 8px;
}

.share{
	margin-left: 30px;
	display: inline-block;
	color: #999;
}


.fullscreen{
	margin-left: 30px;

}

.icon {
	display: inline-block;
    width: 1em;
	height: 1em;
	fill: #fff;
    -webkit-transition: color .1s linear;
	transition: color .1s linear
}

.icon:hover {
	fill: #e47839;
}

@font-face {
	font-weight:400;
    font-style:normal;
    font-family:Camphor;
    src:url(font/camphor-bold.ttf) 
}

@font-face {
	font-weight:200;
    font-style:normal;
    font-family:Camphor;
    src:url(font/camphor-light.ttf) 
}

@font-face {
	font-weight:400;
    font-style:normal;
    font-family:Inconsolata;
    src:url(font/Inconsolata.ttf)
}


 .spacebar__posttext,.link--need-help,.link--underline,.spacebar__loading,.spacebar__posttext,.spacebar__pretext,.subtitle,.title--1,.title--artist,.wrapper--cover-title p,.wrapper--credits {
	font-weight: 400;
	font-family: Camphor
}

.spacebar__button__inner span {
	font-weight: 200;
	font-family: Camphor
}

.icon-shrink2{
	opacity: 0;
	position: relative;
	bottom: -1000px;
	cursor:pointer;

}

.icon-enlarge2{
	bottom: 0px;
	position: relative;
	opacity: 1;
	cursor:pointer;

}

.weibo{
	margin-right: 30px;
}