body{
	color: #FFF;
	width: 100%;
	height: 100%;
    -webkit-font-smoothing: antialiased;
}

#defaultCanvas{
 	position:absolute;
	top:50%;
	left:50%;
    z-index: -99;
}


#video-background {
/*  making the video fullscreen  */
  position: fixed;
  left: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


#wrapper-elementframe{
	opacity: 1;
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
    font-family:Inconsolata;
    font-size: 16px
}

button {
    border: 0;
    font-size: 16px;
    background-color: transparent;
}

a, button {
    color: inherit;
    text-decoration: none;
}


.link--orange {
	transition: color .1s linear;


}

.link--orange:hover {
	color: #e47839;
	cursor:pointer;
}





.introduction{
	opacity: 0;
	font-size: 18px;
	position:absolute;
	top:25%;
	left:50%;
	margin-top:320px;
	margin-left:-202px;
    font-style:normal;   
}

.introduction p {
	font-family:camphor;
    font-weight: 200;
}

.wrapper_bl{
	fill:#fff;
	opacity: 0;
	left: 0px;
	bottom: 0px;
	position: absolute;
}


.wrapper_br{
	fill:#fff;
	opacity: 0;
	position:absolute;
	right: 0px;
	bottom: 0px;
}

.wrapper_tl{
	fill:#fff;
	opacity: 0;
	left: 0px;
	top: 0px;
	position: absolute;
}


.wrapper_tr{
	fill:#fff;
	opacity: 0;
	position:absolute;
	right: 0px;
	top: 0px;
}

.save{
	display: inline-block;
	margin-left: 8px;
}

.print{
	display: inline-block;
	margin-left: 8px;
}

.shareul{
	display: inline-block;
	position: relative;
	bottom: -4px;
}

.shareul a{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 8px;
}

.share{
	margin-left: 30px;
	display: inline-block;
    opacity: 0.5;
}


.fullscreen{
	margin-left: 30px;

}

.icon {
	display: inline-block;
    width: 1em;
	height: 1em;
    -webkit-transition: color .1s linear;
	transition: color .1s linear
}

.icon:hover {
	fill: #e47839;
}

@font-face {
	font-weight:400;
    font-style:normal;
    font-family:Camphor;
    src:url(../font/camphor-bold.ttf) 
}

@font-face {
	font-weight:200;
    font-style:normal;
    font-family:Camphor;
    src:url(../font/camphor-light.ttf) 
}

@font-face {
	font-weight:400;
    font-style:normal;
    font-family:Inconsolata;
    src:url(../font/Inconsolata.ttf)
}





.icon-shrink2{
	opacity: 0;
	position: relative;
	bottom: -1000px;
	cursor:pointer;

}

.icon-enlarge2{
	bottom: 0px;
	position: relative;
	opacity: 1;
	cursor:pointer;

}

.weibo{
	margin-right: 30px;
}



.select_icon{
	z-index: -1;
	opacity:0;
	width: 310px;
	height: 310px;
	position: relative;
	top: 45%;
	left: 50%; 
	margin-left: -150px;
	margin-top:-150px; 
}

.icon_ocean{
	width: 310px;
	height:310px;
	cursor:pointer;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash 2s cubic-bezier(0.5, 0.05, 0.25, 1.0) forwards;
}

@keyframes dash {

   to {
    stroke-dashoffset: 0;
  }
}

#canvasbg{
	opacity: 0;
  	position:absolute;
	top:50%;
	left:50%;
	margin-top:-281.25px;
	margin-left:-500px;
	z-index: -998;
	width: 1000px;
	height: 562.5px;
}

#bgcolor{
	position:absolute;
	top:0;
	opacity: 0;
	z-index: -999;
	width: 100%;
	height: 100%;
	background-color: #e6e6e6;
}

.spacebar__posttext,.spacebar__pretext {
	opacity: 0;
	position: relative;
	font-size: 24px;
	line-height: 3pc;
	white-space: nowrap;
	display: inline-block;
	vertical-align: top;
}

.spacebar {
	position:absolute;
	top:100%;
	left:50%;
	margin-top:-100px;
	margin-left:-234px;

    
}

 .spacebar__posttext,.link--need-help,.link--underline,.spacebar__loading,.spacebar__posttext,.spacebar__pretext,.subtitle,.title--1,.title--artist,.wrapper--cover-title p,.wrapper--credits {
	font-weight: 400;
	font-family: Camphor
}


.spacebar_bg{
	position: relative;
	display: inline-block;
	width: 140px;
	height: 56px;
	z-index: 1;
	text-align:center;
	}

.spacebar_outline{
	opacity: 0;
	position: absolute;
	left:77px;
	top: -9px;
	display: inline-block;
	width: 140px;
	height: 56px;
	z-index: 0;
	background-image: url(../img/button.png);
	}

.btn {
	opacity: 0;
	width: 48px;
	height: 48px;
	position: relative;
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 50px;
	font-weight: 400;
	font-size: 1.2em;
	cursor: pointer;
	overflow: hidden;
	outline:none;
}

span{
	opacity: 0;
	display: block;
	margin-bottom: 5px;
}

.btn.active {
  -webkit-animation: upload 3s ease-in-out forwards;
          animation: upload 3s ease-in-out forwards;
}



@-webkit-keyframes upload {
  0% {
    width: 48px;
    height: 48px;
    background-color: transparent;
  }
  10% {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  30% {
    width: 140px;
    height: 48px;
    background-color: transparent;  
  }

  100% {
    width: 140px;
    height: 48px;
    background-color: transparent;
  }
}

@keyframes upload {
  0% {
    width: 48px;
      height: 48px;
    background-color: transparent;
  }
  10% {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  30% {
    width: 140px;
    height: 48px;
    background-color: transparent;  
  }

  100% {
    width: 140px;
    height: 48px;
    background-color: transparent;
  }
}

